html,
body {
    background-color: #f8f8f8;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
}


#pageContainer {
    min-height: 100%;
}

#body {
    overflow:auto;
    padding-bottom: 95px;
}

footer {
   bottom: 0;
   clear: both;
   display: block;
   height: 95px;   /* Height of the footer */
   margin-top: -95px;
   position: relative;
   width: 100%;
}

footer #footerContent {
    height: 40px;
}

footer p {
    font-size: 13px;
    padding: 5px 0;
}

footer .footer-banner {
    background-color: #2daacd;
    color: #fff;
    height: 45px;
    font-family: "Lato";
    font-size: 30px;
}

footer .footer-banner .container {
    text-align: center;
}

footer .footer-banner .footer-text {
    font-weight: 300;
}


a.btn-green {
    background-color: #6abe59;
    border-color: #6abe59;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 6px;
    margin-left: 50px;
    padding: 5px 30px;
}

a.btn-green:hover {
    background-color: #7ac56b;
    border-color: #7ac56b;
    color: #fff;
}





.registration-header {
    background-color: #323232;
    color: #bdbdbd;
    position: relative;
}

.registration-header .account-links {
    padding: 5px 0;
}

.seprator {
    padding: 0 6px;
}

.account-links a {
    color: #bdbdbd;
    font-size: 13px;
    text-decoration: none;
}

.account-links a:hover {
    color: #e1e1e1;
}





#HomeLink {
    padding: 10px 10px;
}

#HomeLink .glyphicon {
    font-size: 24px;
}




/*  Bootstrap Overrides  */
.navbar-default {
    border-bottom: 1px solid #027794;
    /*border-bottom: 22px solid #323232;*/
}

.navbar {
    margin-bottom: 0;
}

input, input[type="password"], input[type="search"], select, textarea, .isindex {
    border: 1px solid #abadb3;
}

input, button, select, textarea {
    padding-left: 2px;
}


/* Validation style */
.input-validation-error {
    background-color: #f8eceb;
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.input-validation-error:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
}

.field-validation-error span {
    color: #ed1c24;
}
.tooltip-inner {
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}




/* Appraiser Dropdown PartialView */
#appraiserList a.dropdown-selected {
    background-color: #fff;
    border: 1px solid #abadb3;
    color: #333;
    display: inline-block;
    font-size: 15px;
    padding: 2px 3px;
    position: relative;
    text-decoration: none;
    width: 400px;
}

#appraiserList a.dropdown-selected .caret {
    position: absolute;
    right: 5px;
    top: 11px;
}

#appraiserList .dropdown-menu {
    margin-top: -1px;
    padding: 0;
    width: 600px;
}

#appraiserList .list-group-item {
    border-left: none;
    border-right: none;
}
#appraiserList .list-group-item.first-item {
    border-top: none;
}
#appraiserList .list-group-item.last-item {
    border-bottom: none;
}

#appraiserList .list-group-item-heading {
    margin-bottom: 0;
}

#appraiserList .list-group-item-text, #appraiserDisplay .appraiser-data { 
    clear: both;
    font-size: 13px;
    line-height: normal;
    overflow: auto;
}

#appraiserList .list-group-item-text.serving { 
    color: #898989;
    font-style: italic;
    margin-bottom: 5px;
}

#appraiserList a.list-group-item.active .list-group-item-text.serving, #appraiserDisplay .serving {
    color: #d1dfea;
}

#appraiserDisplay .appraiser-name {
    margin-bottom: 3px;
    margin-top: 0;

}

#appraiserDisplay .appraiser-data {
    margin-top: 0;
}


#appraiserList .list-group-item-text address, #appraiserDisplay .appraiser-data address { 
    margin-bottom: 0;
    width: 250px;
}
#appraiserDisplay .appraiser-data address { 
    width: 200px;
}

abbr {
    margin-right: 6px;
}

.email {
    color: #428bca;
}

#appraiserList a.list-group-item.active .list-group-item-text .contact .email {
    color: #73b8c9;
}

.trailing-label {
    color: #707070;
    font-style: italic;
}


/* Interest Rates Display */
.rate-container {
    color: #fff;
    font-family: 'Lato';
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: right;
    box-sizing: padding-box;
}
.rate-container .rate {
    font-weight: 100;
    font-size: 90px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.rate-container .rate-title {
    bottom: -3px;
    display: block;
    float: right;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    right: -10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    transform: rotate(90deg);
    transform-origin: left;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left;
}


