
html,
body {
    background-color: #f8f8f8;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#pageContainer {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 95px;
}

footer {
   bottom: 0;
   display: block;
   height: 95px;   /* Height of the footer */
   position: absolute;
   width: 100%;
}

footer #footerContent {
    height: 40px;
}

footer p {
    font-size: 13px;
    padding: 5px 0;
}

footer .footer-banner {
    background-color: #2daacd;
    color: #fff;
    height: 45px;
    font-family: "Lato";
    font-size: 30px;
}

footer .footer-banner .container {
    text-align: center;
}


a.btn-green {
    background-color: #6abe59;
    border-color: #6abe59;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 6px;
    margin-left: 50px;
    padding: 5px 30px;
}

a.btn-green:hover {
    background-color: #7ac56b;
    border-color: #7ac56b;
    color: #fff;
}





.registration-header {
    background-color: #323232;
    color: #bdbdbd;
    position: relative;
}

.registration-header .account-links {
    padding: 5px 0;
}

.seprator {
    padding: 0 6px;
}

.account-links a {
    color: #bdbdbd;
    font-size: 13px;
    text-decoration: none;
}

.account-links a:hover {
    color: #e1e1e1;
}





#HomeLink {
    padding: 10px 10px;
}

#HomeLink .glyphicon {
    font-size: 24px;
}




/*  Bootstrap Overrides  */
.navbar-default {
    border-bottom: 1px solid #027794;
    /*border-bottom: 22px solid #323232;*/
}

.navbar {
    margin-bottom: 0;
}

input, input[type="password"], input[type="search"], isindex {
    border: 1px solid #abadb3;
}

input, button, select, textarea {
    padding-left: 2px;
}


/* Validation style */
.input-validation-error {
    background-color: #f8eceb;
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.input-validation-error:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
}

.field-validation-error span {
    color: #ed1c24;
}





/* Appraiser Dropdown PartialView */
#appraiserList a.dropdown-selected {
    background-color: #fff;
    border: 1px solid #abadb3;
    color: #333;
    display: inline-block;
    font-size: 15px;
    padding: 2px 3px;
    position: relative;
    text-decoration: none;
    width: 400px;
}

#appraiserList a.dropdown-selected .caret {
    position: absolute;
    right: 5px;
    top: 11px;
}

#appraiserList .dropdown-menu {
    margin-top: -1px;
    padding: 0;
    width: 600px;
}

#appraiserList .list-group-item {
    border-left: none;
    border-right: none;
}
#appraiserList .list-group-item.first-item {
    border-top: none;
}
#appraiserList .list-group-item.last-item {
    border-bottom: none;
}

#appraiserList .list-group-item-heading {
    margin-bottom: 0;
}

#appraiserList .list-group-item-text { 
    clear: both;
    font-size: 13px;
    line-height: normal;
    overflow: auto;
}

#appraiserList .list-group-item-text.serving { 
    color: #898989;
    font-style: italic;
    margin-bottom: 5px;
}

#appraiserList a.list-group-item.active .list-group-item-text.serving {
    color: #d1dfea;
}

#appraiserList .list-group-item-text address { 
    margin-bottom: 0;
    width: 250px;
}

.contact abbr {
    margin-right: 6px;
}

.contact .email {
    color: #027794;
}

#appraiserList a.list-group-item.active .list-group-item-text .contact .email {
    color: #73b8c9;
}