<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appraiseutah.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appraiseutah.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appraiseutah</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appraiseutah</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppraiseUtah.Client.Models.AppraisalContext" Order="1" Enabled="False">
          <Destination Path="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;Persist Security Info=True;User ID=ryanlifferth;Password=L1fferth" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AppraiseUtah.Client.Models.AppraisalContext, AppraiseUtah.Client" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppraisalDBContext-LOCAL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;User ID=ryanlifferth;Password=L1fferth" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppraisalDBContext-LOCAL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;User ID=ryanlifferth; Password=L1fferth" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppraisalDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;Persist Security Info=True;User ID=ryanlifferth;Password=L1fferth" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=p63hqg56sh.database.windows.net,1433;Initial Catalog=AppraiseUtah;User ID=apputah-user;Password=@ppraiseUtah1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppraisalDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=p63hqg56sh.database.windows.net,1433;Initial Catalog=AppraiseUtah;User ID=apputah-user; Password=@ppraiseUtah1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppraisalDBContext-LIFFERTHCOM" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;User ID=ryanlifferth;Password=L1fferth" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppraisalDBContext-LIFFERTHCOM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;User ID=ryanlifferth; Password=L1fferth" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppraisalDBContext-LIFFERTHCOM-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppraisalDBContext-LOCAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppraisalDBContext-Web.config Connection String">
      <ParameterValue>Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;Persist Security Info=True;User ID=ryanlifferth;Password=L1fferth</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppraiseUtah.Client.Models.AppraisalContext-Web.config Connection String">
      <ParameterValue>Data Source=ryanlifferth.db.6168907.hostedresource.com;Initial Catalog=ryanlifferth;Persist Security Info=True;User ID=ryanlifferth;Password=L1fferth</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AppraiseUtah.Client.Models.AppraisalContext" />
  </ItemGroup>
</Project>