@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{ Html.RenderAction("_AppraiserDropdown", "Appraiser"); }

@section PageScripts {
    
    <script src="@Url.Content("~/Scripts/Common/Appraisers.js")"></script>

}
