<!doctype html>
<html>
<head>
    
    <title>AppraiseUtah.com @(!String.IsNullOrEmpty(ViewBag.Title) ? " - " + ViewBag.Title : String.Empty)</title>
    @RenderSection("htmlhead", required: false)
</head>
<body>
    <div class="container"></div>
    
    @RenderBody()

</body>
</html>
